
hmtl,body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: silver;
  background-color: #48374d;
}

::-webkit-input-placeholder { /* Edge */
    color: #686868;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #686868;
}

::placeholder {
    color: #686868;
}

#footer {
  text-align: center;
  padding: 10px;
  margin-top: 7px;
}

#main-div {
  overflow: auto;
}

#login-div {
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 10px; 
}

#login-div input {
  width: 100%;
  font-size: 16px;
}

#username {
  background-color: #48374d;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid silver;
  margin: 0;
  padding: 0;
  text-indent: 5px;
  color: silver;
}

#login {
  color: silver;
  background-color: #48374d;
  border: 1px solid silver;
  border-radius: 0;
  font-size: 16px;
}

#login:active {
  color: #48374d;
  background-color: silver;
}

#header-div {
  padding: 15px;
  text-align: center;
}

#game-div {
  display: none;
}

#buttons-div button {
  padding: 5px;
}

#players-list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.black-text {
  color: black;
}

.red-text {
  color: #d22e2e;
}

.green-text {
  color: green;
}

.game-button {
  font-size: 22px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.red-button {
  background-color: #48374d; /* Same as body */
  color: #d22e2e;
  border-color: #d22e2e;
}

.red-button-clicked {
  background-color: #d22e2e; /* same as red-text*/
  color: white;
  border-color: #d22e2e;
}

.black-button {
  background-color: #48374d; /* Same as body */
  color: black;
  border-color: black;
}

.black-button-clicked {
  background-color: black; /* same as red-text*/
  color: white;
  border-color: black;
}

#last-three-cards li {
  display: inline;
}


* {
  box-sizing: border-box;
}

.menu {
  float:left;
  width:20%;
  text-align:center;
}

.menu ul {
  padding: 0;
  margin: 5px;
  font-size: 22px;
}

.menu h2 {
  margin: 5px;
}

.menu a {
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
  text-align: center;
}
.right {
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:left;
}

.right h2 {
  text-align: center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

#your-go {
  display: none;
  margin: auto;
}

#outcome {
  display: none;
  text-align: center;
}

#history-list {
  overflow: hidden;
  overflow-y: scroll;
  height: 140px;
  list-style: none;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border: 1px #b7b7b7 solid;
}

#history-list li {
  border-bottom: 1px #b7b7b7 solid;
  padding: 7px;
}
