
hmtl,body {
  font-family: "Helvetica", "Arial", sans-serif;
  /* background: url("spain_sunset_no_mountains.png") no-repeat center center fixed; */
  color: #555;
  background-color: #d2d2d2;
}

#login-div {
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 10px; 
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
}

#login-div input {
  width: 100%;
  font-size: 16px;
}

#username {
  width: 100%;
  border: 1px solid #d2d2d2;
  margin: 0;
  padding: 0;
  text-indent: 5px;
}

#login {
  background-color: #e07575;
  border: 1px solid #e07575;
  border-radius: 5px;
  font-size: 16px;
}

.red-text {
  color: #d22e2e;
}

.black-text {
  color: black;
}

.red-button {
  font-size: 22px;
  background-color: #d2d2d2; /* same as body */
  color: #d22e2e;
  border-color: #d22e2e;
  border-style: solid;
  border-radius: 4px;
}

.red-button:hover {
  background-color: #d22e2e; /* same as red-text*/
  color: white;
}

.red-button-clicked {
  background-color: #d22e2e; /* same as red-text*/
  color: white;
}

.black-button {
  font-size: 22px;
  background-color: #d2d2d2; /* same as body */
  color: black;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
}

.black-button:hover {
  background-color: black; /* same as red-text*/
  color: white;
}

.black-button-clicked {
  background-color: black; /* same as red-text*/
  color: white;
}


* {
  box-sizing: border-box;
}

.menu {
  float:left;
  width:20%;
  text-align:center;
}

.menu ul {
  padding: 0;
  margin: 5px;
  font-size: 22px;
}

.menu h2 {
  margin: 5px;
}

.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
  text-align: center;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:left;
}

.right h2 {
  text-align: center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

#your-go {
  margin: auto;
  /* display: none; */
}

#outcome {
  text-align: center;
}
